<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Add_User</servlet-name>
        <servlet-class>com.donate.Add_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB</servlet-name>
        <servlet-class>com.donate.DB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log_In</servlet-name>
        <servlet-class>com.donate.Log_In</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_User</servlet-name>
        <servlet-class>com.donate.Update_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Food</servlet-name>
        <servlet-class>com.donate.Add_Food</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Cat_Clothes</servlet-name>
        <servlet-class>com.donate.Add_Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Clothes</servlet-name>
        <servlet-class>com.donate.Add_Clothes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Clothes</servlet-name>
        <servlet-class>com.donate.Update_Clothes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Food</servlet-name>
        <servlet-class>com.donate.Update_Food</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_School</servlet-name>
        <servlet-class>com.donate.Add_School</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_School</servlet-name>
        <servlet-class>com.donate.Update_School</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Money</servlet-name>
        <servlet-class>com.donate.Add_Money</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Money</servlet-name>
        <servlet-class>com.donate.Update_Money</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Item</servlet-name>
        <servlet-class>com.donate.Update_Item</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_User</servlet-name>
        <url-pattern>/Add_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB</servlet-name>
        <url-pattern>/DB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log_In</servlet-name>
        <url-pattern>/Log_In</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_User</servlet-name>
        <url-pattern>/Update_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Food</servlet-name>
        <url-pattern>/Add_Food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Cat_Clothes</servlet-name>
        <url-pattern>/Add_Cat_Clothes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Clothes</servlet-name>
        <url-pattern>/Add_Clothes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Clothes</servlet-name>
        <url-pattern>/Update_Clothes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Food</servlet-name>
        <url-pattern>/Update_Food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_School</servlet-name>
        <url-pattern>/Add_School</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_School</servlet-name>
        <url-pattern>/Update_School</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Money</servlet-name>
        <url-pattern>/Add_Money</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Money</servlet-name>
        <url-pattern>/Update_Money</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Item</servlet-name>
        <url-pattern>/Update_Item</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
